*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
	box-sizing: border-box;

	width: 1265px;
	height: auto;

	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

/* Header ======================
==================================*/

.header {
	height: 670px;
	margin-bottom: 5px;
	background: left/15% url("images/White.psb.png") no-repeat;	
	background-position: 25% 50%;
	background-color: #e9e9e9;

}

.header__top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.logo {
	margin: 35px 5px 5px 100px;
	padding: 5px;
}

.nav {
	display: flex;
	margin: 35px 5px 5px 5px;
	padding: 5px;
}

.nav__item {
	padding-left: 40px;

	font-family: inherit;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #3f3f3f;
	text-decoration: none;
}

.nav__item:last-child {
	padding-right: 10px;
}

.nav__item:hover {
	color: #0fc9c3;
	transition: .2s linear;
}

.header__about {
	display: block;

	max-width: 470px;
	max-height: 230px;
	margin-top: 165px;
	margin-left: auto;
	margin-right: 115px;

	padding: 5px;
}

.header__title {
	padding: 5px;

	font-family: inherit;
	font-size: 36px;
	line-height: 48px;
	font-weight: 500;
}

.header__text {
	padding: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #878787;
}

.btn {
	display: inline-block;
	position: relative;
	width: 180px;
	height: 55px;

	background-color: #0fc9c3;
	margin: 5px;	
}

.btn__text {	
	display: inline-block;

	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	text-decoration: none;
	font-size: 12px;
	font-family: inherit;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;

	cursor: pointer;
	text-align: center;	
}

.btn:hover {
	background-color: #e9e9e9;
	border: 2px solid #0fc9c3;
	transition: all .1s linear;
}

.btn__text:hover {
	color: #0fc9c3;
	font-size: 14px;
	font-weight: 600;
}

/* About Us ======================
==================================*/
.about__us {
	display: block;
	height: auto;

	margin: 5px;
	background-color: #f8f9fa;
}

.about__header {
	margin: 110px 5px 5px 5px;
}

.about__title {
	margin: 5px;
	padding: 10px;

	font-family: 'Merriweather', serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;

	text-align: center;
}

.about__subtitle {
	margin: 5px;
	padding: 10px;

	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;

	text-align: center;
	text-transform: uppercase;
}

.about {
	display: flex;
	margin: 135px 5px 5px 5px;
}

.about__img {
	display: block;
	margin: 0 25px 0 220px;
	box-shadow: 0 0 35px 10px #c5c6ca ;
}

.about__post {
	width: 480px;
	display: flex;
	flex-direction: column;
	margin: 0 5px 5px 25px;
}

.about__description {
	margin-bottom: 5px;
	padding: 10px;
}

.description__title {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-transform: uppercase;
}

.description__subtitle {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;

	padding-top: 20px;
}

/*Featured works ================
=================================*/
.section {
	display: block;
	width: 1250px;
	text-align: center;

	margin: 10px 10px;
}

.works {
	margin: 90px 50px;
	padding: 5px;
}

.works__img {
	padding: 5px;
}

.works__img:hover {
	background-color: #0fc9c3;
	opacity: 80%;
	transition: .2s linear;
}

/* Our services */
.services__item {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 50px 50px 150px 50px;
}

.service-one {
	display: block;
	width: 550px;
	height: 320px;
	background-image: url("images/services1.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.service-two {
	display: block;
	width: 370px;
	height: 320px;
	background-image: url("images/services2.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.service-three {
	display: block;
	width: 550px;
	height: 320px;
	background-image: url("images/services3.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.service-four {
	display: block;
	width: 370px;
	height: 320px;
	background-image: url("images/services4.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.service-five {
	display: block;
	width: 370px;
	height: 320px;
	background-image: url("images/services5.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.service-six {
	display: block;
	width: 550px;
	height: 320px;
	background-image: url("images/services6.png");
	background-repeat: no-repeat;
	margin: 5px;
	padding: 5px;
}

.bg:hover {
	background-color: #5f5f5f;
	background-image: none;
	opacity: .9;
	transition: .2s linear;
}

.bg h2:hover,
.bg p:hover {
	color: #0fc9c3;
	transition: .2s linear;
}

.services__title {
	
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 29px;
	text-transform: uppercase;

	margin: 70px 0 0 20px;
	padding: 10px;
	text-align: left;
}

.services__text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;

	margin-left: 20px;
	padding: 10px;
	text-align: left;
}

.services__more {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;

	float: left;
	margin-left: 20px;
	padding: 10px;

	text-decoration: none;
	color: #0fc9c3;
}

.services__more:hover {
	text-decoration: underline;
} 

/* Small team =================
===============================*/
.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 50px;
	padding: 10px;
	justify-content: center;
}

.card__item {
	display: block;
	width: 300px;
	position: relative;
	margin: 5px;
	padding: 5px;
}

.card__photo {
	width: 300px;
	height: 370px;
}

.info__photo {
	display: block;
	visibility: hidden;
	width: 260px;
	height: 200px;

	position: absolute;
	top: 160px;
	right: 0;
	bottom: 0;
	left: 25px;
	z-index: 1;

	border: 1px solid #6ff4eb ;
	background-color: #6ff4eb;
}

.info__title {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	text-align: left;

	padding: 15px;
}

.info__subtitle {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	font-style: italic;
	text-transform: none;

	color: #738d8b;
}

.info__text {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;

	padding: 0 15px 20px;
}

.info-social {
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 10px;
	padding: 5px;
}

.info-link {
	text-decoration: none;
	cursor: pointer;

}

.info-link:nth-child(n+2) {
	margin-left: 10px;
}

.card__item:hover > .info__photo {	 
	display: block;
	visibility: visible;
	box-shadow: 0 5px 5px #3f3f3f;

}

.card__photo:hover {
	box-shadow: 0 5px 5px #3f3f3f;
}

