body {
  margin: 0;
  padding: 0;
	box-sizing: border-box;

	width: 1265px;
	height: auto;

	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

/* Header ======================
==================================*/

.header {
	height: 670px;
	margin-bottom: 5px;
	background: left/15% url("images/White.psb.png") no-repeat;	
	background-position: 25% 50%;
	background-color: #e9e9e9;

}

.header__top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.logo {
	margin: 35px 5px 5px 100px;
	padding: 5px;
}

.nav {
	display: flex;
	margin: 35px 5px 5px 5px;
	padding: 5px;
}

.nav__item {
	padding-left: 40px;

	font-family: inherit;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #3f3f3f;
	text-decoration: none;
}

.nav__item:last-child {
	padding-right: 10px;
}

.nav__item:hover {
	color: #0fc9c3;
	transition: .2s linear;
}

.header__about {
	display: block;

	max-width: 470px;
	max-height: 230px;
	margin-top: 165px;
	margin-left: auto;
	margin-right: 115px;

	padding: 5px;
}

.header__title {
	padding: 5px;

	font-family: inherit;
	font-size: 36px;
	line-height: 48px;
	font-weight: 500;
}

.header__text {
	padding: 5px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #878787;
}

.btn {
	display: inline-block;
	position: relative;
	width: 180px;
	height: 55px;

	background-color: #0fc9c3;
	margin: 5px;	
}

.btn__text {	
	display: inline-block;

	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	text-decoration: none;
	font-size: 12px;
	font-family: inherit;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;

	cursor: pointer;
	text-align: center;	
}

.btn:hover {
	background-color: #e9e9e9;
	border: 2px solid #0fc9c3;
	transition: all .1s linear;
}

.btn__text:hover {
	color: #0fc9c3;
	font-size: 14px;
	font-weight: 600;
}

/* About Us ======================
==================================*/
.about__us {
	display: block;
	height: 985px;

	margin: 5px;
	background-color: #f8f9fa;
}

.about__header {
	margin: 110px 5px 5px 5px;
}

.about__title {
	padding: 10px;

	font-family: 'Merriweather', serif;
	font-size: 38px;
	font-weight: 400;
	line-height: 28px;

	text-align: center;
}

.about__subtitle {
	padding: 10px;

	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;

	text-align: center;
	text-transform: uppercase;
}

.about {
	display: flex;
	margin: 135px 5px 5px 5px;
}

.about__img {
	display: block;
	margin: 0 25px 0 220px;
	box-shadow: 0 0 35px 10px #c5c6ca ;
}

.about__post {
	width: 480px;
	display: flex;
	flex-direction: column;
	margin: 0 5px 5px 25px;
}

.about__description {
	margin-bottom: 5px;
	padding: 10px;
}

.description__title {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	text-transform: uppercase;
}

.description__subtitle {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
